@model LocalidadViewModel

@{
    ViewData["Title"] = "Detalles de la Localidad " + Model.Nombre;
    string objName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                </dl>
                <p>
                    <a class="btn btn-primary" href="/@Html.Raw(objName)/Edit/@Html.Raw(Model.LocalidadId)" title="Modificar"><span class="glyphicon glyphicon-pencil" style="margin-right: 5px;"></span>Modificar</a>
                    <a class="btn btn-default" href="/@Html.Raw(objName)/Index" title="Volver"><span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px;"></span>Volver</a>
                </p>
            </div>
        </div>
    </div>
</div>
