@{
    ViewData["Title"] = "Bienvenido a Sistema M.A.V.";
}

@Html.Raw(References.GetReferences_MorrisCharts())

<div class="row">
    <div class="col-md-12">
        <h4>Mantenimiento Asistido de Vehículos</h4>
        <p>
            Este sistema le permitirá obtener información de mantenimiento de
            cualquier vehículo presente en el parque automotor, así como gestionar
            sus propios vehículos, ya sean estos automóviles, vehículos pesados o
            motocicletas.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Vehículos que puede consultar</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body chart-responsive">
                <div class="chart" id="tipos-de-vehiculo" style="height: 300px; position: relative;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Mantenimientos realizados</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body chart-responsive">
                <div class="chart" id="mantenimientos" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var donut = new Morris.Donut({
            element: 'tipos-de-vehiculo',
            resize: true,
            colors: ["#3c8dbc", "#f56954", "#00a65a"],
            data: [
                { label: "Automóviles", value: 118 },
                { label: "Vehículos pesados", value: 30 },
                { label: "Motocicletas", value: 74 }
            ],
            hideHover: 'auto'
        });

        var bar = new Morris.Bar({
            element: 'mantenimientos',
            resize: true,
            data: [
                { y: 'Abr 2022', a: 100 },
                { y: 'May 2022', a: 75 },
                { y: 'Jun 2022', a: 50 },
                { y: 'Jul 2022', a: 75 },
                { y: 'Ago 2022', a: 50 },
                { y: 'Sep 2022', a: 75 },
                { y: 'Oct 2022', a: 80 },
                { y: 'Nov 2022', a: 85 },
                { y: 'Dic 2022', a: 40 },
            ],
            barColors: ['#00a65a', '#f56954'],
            xkey: 'y',
            ykeys: ['a'],
            labels: ['Mantenimientos'],
            hideHover: 'auto'
        });
    });
</script>
